// Define variables for your color scheme
$main-color: #FFF;
$second-color: #F6AE2D;
$blue-main-color: #65A6D9;
$blue-second-color: #D8ECF6;
$blue-green-color: #84DCDE;
$green-color: #A0FCDD;
$orange-dark-color: #D97659;
$blue-app: #211C5E;
$validation-color: #297373;
$gray-modal: #EBEBEB;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
