// Define variables for your color scheme
$main-color: #F4F4F4;
$second-color: #2E4552;
$third-color: #4E9B8F;
$fourth-color: #E4C577;
$fifth-color: #E9A66C;
$sixth-color: #D97659;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
