// Define variables for your color scheme
$main-color: #F4F4F4;
$second-color: #6917B1;
$third-color: #65A6D9;
$fourth-color: #84DCDE;
$fifth-color: #A0FCDD;
$sixth-color: #D97659;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
