#faq-page{
  a {
  color: blue;
}

a:hover{
  color: white;
  background-color: blue
}

p {
  white-space: pre-line;
}

img {
  height: 40%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
}
