// Specific CSS for your home-page
//--------------------------//
//       POSITIONNING       //
//--------------------------//
#navbar,
#banner {
  padding: 0 $padding-side;

}

#navbar {
  position:absolute;
  height:15vh;
  top: 0;
  right:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  img {
    width:100px;
  }
}

    #navbar-links a {
      margin: 0 1rem;
    }


#banner {
  margin-top: $height-navbar;
}

//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  html {
    font-size: 55%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  html {
    font-size: 55%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}



