// Specific CSS for your home-page
//--------------------------//
//       POSITIONNING       //
//--------------------------//

.banner {
  padding: 0 $padding-side;
}

#home-main {
  width:100%;
  background-image: image-url('bg_home.svg');
  background-size:contain;
  background-repeat: no-repeat;

}
#navbar-container {
  height:15vh;
  top: 0;
  right:0;
  left:0;
  width:100%;

}
#navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  img {
    width:100px;
  }
}


    #navbar-logo {
      padding: 1rem 0 0 $padding-side;
      a:first-child {
        height:100%;
        width:100%;
      }
    }

    #navbar-links{
      padding-right: $padding-side;
      a {display:inline-block;}
    }

//--------------------------//
//        BG BANNER         //
//--------------------------//
    #banner-bg {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      width:70%;
      height:90vh;
      border-radius: 0 0 15px 0;
      z-index:-100;
      background-color:#D8ECF6;
    }


.banner {
  margin-top: $height-navbar ;
  padding: 0 5rem;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-wrap:wrap;
  height: 70vh;
}

.banner {
  h1 {
    font-size:4rem;
    font-weight:bold;
    color:$third-color;
  }
  h2 {
   font-weight:bold;
  }
}



    .banner--right,
    .banner--left {
      max-width: 50%;
      min-width:50%;
    }

    .banner--left a {
      font-size:2rem;
      text-align:center;
    }
//--------------------------//
//         SHAPE BG         //
//--------------------------//




//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  html {
    font-size: 55%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  html {
    font-size: 55%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}



