//--------------------------//
//       POSITIONNING       //
//--------------------------//

#onboarding-container {
  padding: 0 $padding-side;
}

#onboarding-container {
  margin-top: $height-navbar;
}

.list-socials li {
  display:inline;
  margin:0 2rem;
}
