.session-div {
  width:100%;
  min-height:100vh;
  max-height:100vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);;
    z-index: -10;
    transform: skewY(-40deg);
    transform-origin: top left;
  }
}

  #new_user {
    .form-check,
    .form-group {
      margin: 0.5rem 0;
    }

    .form-control {
      font-size:1rem;
    }
    label {
      font-size:1.3rem;
      font-weight:bold;
    }
  }

    .session-div--image,
    .session-div--login {
      width:50%;
      margin: auto 0;
    }

    .session-div--image {
      display:flex;
      justify-content:center;
      align-items:center;
      .logo-icon,
      &.logo.title {
        display:block;
        font-size: 5rem;
        width:100%;
      }
    }

    .session-div--login--form {
      width:70%;
    }


//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  html {
    font-size: 55%;
  }
  .session-div {
    flex-direction:column;
    justify-content:center;
  }
  .session-div--image,
  .session-div--login {
    width:100%;
    padding: 2rem 0;
  }

  .session-div--image {
    .logo {
      display:table;
      font-size: 5rem;
      margin: 1rem auto 0 auto;
    }
    .logo-icon {
      width: 80%;
      margin:0 auto;
    }
  }
  .session-div--login {
    text-align:center;
    .session-div--login--form {
      margin: 0 auto;
    }
  }

  #new_user {
    .form-check,
    .form-group {
      margin: 1rem 0;
    }
    .form-check-label {
      margin-left: 2rem;
    }
    .form-control {
      font-size:2rem;
    }
    label {
      font-size:2rem;
    }
    .link-nav {
      font-size: 2.2rem;
    }
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){
  html {
    font-size: 55%;
  }
  .session-div {
    flex-direction:column;
  }
  .session-div--image,
  .session-div--login {
    width:100%;
    padding: auto 0;
  }

  .session-div--image {
    .logo {
      display:table;
      font-size: 5rem;
      margin: 1rem auto 0 auto;
    }
    .logo-icon {
      width: 80%;
      margin:0 auto;
    }
  }

  .session-div--login {
    text-align:center;
    .session-div--login--form {
      margin: 0 auto;
    }
  }

  #new_user {
    .form-check,
    .form-group {
      margin: 1rem 0;
    }
    .form-check-label {
      margin-left: 2rem;
    }
    .form-control {
      font-size:2rem;
    }
    label {
      font-size:2rem;
    }
    .link-nav {
      font-size: 2.2rem;
    }
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}

