.session-div {
  width:100%;
  min-height:100vh;
  max-height:100vh;
  display:flex;
  background-color:$blue-app;
  justify-content:center;
  align-items:center;
  color:white;
}
  #new_user {
    .form-check,
    .form-group {
      margin: 0.5rem 0;
    }

    .form-control {
      font-size:1rem;
    }
    label {
      font-size:1.3rem;
      font-weight:bold;
    }
  }

    .session-div--login {
      width:40%;
      img {
        display:block;
        margin: 0 auto;
        padding-bottom:4rem;
      }
      .form-actions input.orange-button,
      .form-actions button.orange-button {
        width:100%;
        font-size:1.2rem;
        font-weight:bold;
      }
    }

//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  :root {
    font-size: 62.5%;
  }
  .session-div {
    flex-direction:column;
    justify-content:center;
  }
  .session-div--login {
    width:100%;
    padding: 2rem 5rem;
    text-align:center;
  }

  .session-div--login .session-div--login--form {
    margin: 0 auto;
  }
  .session-div--login img {
    width:60%;
  }

  #new_user {
    .form-check,
    .form-group {
      margin: 1rem 0;
    }
    .form-check-label {
      margin-left: 2rem;
    }
    .form-control {
      font-size:2rem;
    }
    label {
      font-size:2rem;
    }
    .link-nav {
      font-size: 2.2rem;
    }
    input.btn.button.orange-button {
      font-size:2rem;
    }
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){
  :root {
     font-size: 62.5%;
   }
   .session-div {
     flex-direction:column;
     justify-content:center;
   }
   .session-div--login {
     width:100%;
     padding: 2rem 5rem;
     text-align:center;
   }

   .session-div--login {
     .session-div--login--form {
       margin: 0 auto;
     }
   }

   #new_user {
     .form-check,
     .form-group {
       margin: 1rem 0;
     }
     .form-check-label {
       margin-left: 2rem;
     }
     .form-control {
       font-size:2rem;
     }
     label {
       font-size:2rem;
     }
     .link-nav {
       font-size: 2.2rem;
     }
     input.btn.button.orange-button {
       font-size:2rem;
     }
   }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}

