//--------------------------//
//       POSITIONNING       //
//--------------------------//

#profile-magnet,
#magnet-networks--card-container,
#magnet-activation-section {
  padding: 0 ($padding-side - 3) 4rem ($padding-side - 3);
}

//------------------------//
//     PROFILE-MAGNET     //
//------------------------//
#profile-magnet {
  position:relative;
}
    .image-container--magnet-profile {
      margin: 0rem auto;
      height: 150px;
      width: 150px;
      overflow: hidden;
      position: relative;
      border-radius:50%;
      box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
      display:flex;
      justify-content:center;
      align-items:center;
      z-index: 1;
        .image-resize {
          object-fit:container;
          display:block;
        }
    }

    #profile-magnet--bg {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: rgba($blue-main-color, 0.3);
      border-radius: 0 0 50% 50%;
      z-index: -100;
    }

#profile-magnet h1 {
  margin: 1rem 0;
  font-size:3rem;
  text-align:center;
  font-weight:bold;
  color:$blue-main-color;
}

//------------------------//
//     PROFILE-MAGNET     //
//------------------------//

#magnet-networks--card-container {
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  margin: 4rem auto;
}

//------------------------//
//   MAGNET ACTIVATION    //
//------------------------//

#magnet-activation-section {
  padding-top: 3rem;
  color:$gray;
  > h2 {font-size: 3.5rem;}
  > h3 {font-size: 2.8rem;}
  > p {font-size:2rem;}
}
#magnet-activation-section {
  h2 ,h3 ,p {
    padding: 1rem 0;
  }
}

#magnet-activation-section input {
  display:block;
  margin: 0 auto;
  width:50%;
  font-size: 3rem;
}



//------------------------//
//     MAGNET-FOOTER      //
//------------------------//
#magnet-footer--joombo {
  position:fixed;
  bottom: 1rem;
  left:1rem;
  width:50%;
  padding: 1rem;
  p {
    font-size:1.4rem;
    color: $purple-color;
  }
}

#magnet-footer {
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  width:50%;
  padding: 1rem;
  color:$white;
  border-radius: 5px;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: 0px 15px 20px 5px rgba($purple-color, 0.3);
  background-color: $purple-color;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba($purple-color, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($purple-color, 0);
  }

  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba($purple-color, 0);
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  html {
    font-size: 55%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  html {
    font-size: 55%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}



