#show-profil {
  margin-top: 5vh;
  padding: 0 $padding-side;
}

    #show-profil--informations {
      display:flex;
      justify-content:space-between;
      align-items:flex-start;
      flex-wrap: wrap;
    }

        #show-profil--informations--user,
        #show-profil--informations--networks {
          min-width:45%;
          max-width:45%;
        }

        #show-profil--informations--user {
          display:flex;
          justify-content:start;
          align-items:center;
          min-width:55%;
          max-width:55%;
          margin: auto 0;
        }

        #show-profil--informations--user .image-container {
          margin: 1rem auto 2rem auto;
          width: 300px;
          overflow: hidden;
          position: relative;
          text-align:center;
          position:relative;
          .image-resize {
            display:block;
            border-radius:50%;
            width:100%;
            max-width:300px;
            height:auto;
            max-height:300px;
            box-shadow: 0 15px 20px 3px rgba(0,0,0,0.2);
            border:2px solid rgba(white, 0.3);
            object-fit:cover;
            width:100%;
            &.magnet-bought {
              border-color: white !important;
            }
          }
          a {
            margin:1rem 0;
          }
          p > span {
            font-size:1.4rem;
            margin-right:.5rem;
          }
        }

        #show-profil--informations--user .infos-container {
          text-align:center;
          flex-grow:2;
          p, h1, a {
            margin: .5rem 0;
          }
        }
        #show-profil--informations--networks--settings {
          display:flex;
          justify-content:space-around;
          align-items:center;
          padding:1rem;
          a {
            width:45%;
            display:block;
            font-weight:bold;
          }
          .directly-on {
            color:$blue-app;
            background-color:white;
            border-color:white;
            &:hover {
              color: $blue-app;
            }
          }
          .icon-setup-modal {
            font-size:2rem;
            color:$blue-app;
          }
        }


        #show-profil--informations--networks {
          text-align:center;
          > a.orange-button {
            margin: .5rem auto;
            font-weight:bold;
          }
        }

          .networks-container {
            display:flex;
            justify-content: center;
            align-items:center;
            flex-wrap:wrap;
            p {
              text-align:center;
            }
            a[data-toggle="modal"] {
              margin: .5rem 1.5rem;
            }
            .container-button-network {
              position:relative;
              .label-direct-active,
              .label-direct-inactive {
                position:absolute;
                top:-10px;
                right:-10px;
              }
            }
          }
          .networks-container .modal-body {
            display:flex;
            justify-content:start;
            align-items:flex-start;
            padding: 1rem 1rem .5rem 1rem;
            img {
              flex-shrink:1;
              max-width:15%;
              margin-right:1rem;
            }
            .form-group,
            .modal-body--inputs {
              flex-grow:2;
              min-width:85%;
            }
          }

          #changes-footer-buttons {
            position:fixed;
            z-index:100;
            display:none;
            justify-content:space-between;
            align-items:center;
            width:100%;
            padding:0 4rem;
            bottom:8rem;
            left:0rem;
            a {
              display:block;
              width:45%;
              text-align:center;
              font-weight:bold;
            }
          }



//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  :root {
    font-size: 62.5%;
  }
    #show-profil {
      padding:unset;
      margin-top: unset;
    }
      #show-profil--informations {
        display:block !important;
      }

      #show-profil--informations--user,
      #show-profil--informations--networks {
        padding: 0rem 1rem;
        min-width:100%;
        max-width:100%;
      }
      #show-profil--informations--user .image-container {
        width:unset;
        > p {
          margin-top:.5rem;
        }
        .image-resize {
          max-width:150px !important;
          max-height:150px !important;
        }
      }

      #show-profil--informations--user .infos-container > h1,
      #show-profil--informations--user .infos-container > p {
        margin: 2rem 0;
      }

      #show-profil--informations--networks--settings {
        .directly-on {
          color:$blue-app;
          border-color:$blue-app;
          &:hover {
            color:$blue-app
          }
        }
      }

      #show-profil--informations--networks{
        background-color:white;
        padding: 1rem 2rem 80px 2rem;
        border-radius:50px 50px 0px 0px;
        overflow-y:scroll;
        > a {
          margin:1rem 0rem 3rem 0rem !important;
        }
      }
      .networks-container {
        justify-content:space-between;
        p {
          color:$blue-app;
          font-size: 1.5rem;
        }
      }

      #navbar-mobile {
        display:flex;
      }

        #show-profil {

          .modal-content,
          .modal-header,
          .modal-footer {
            border:unset;
          }

          .modal-header,
          .modal-body,
          .modal-footer,
          p.explanation {
            padding: 0rem 4rem 0rem 4rem !important;
          }


          .modal-dialog {
            margin:unset;
          }
          .modal-dialog-centered {
            align-items:flex-end;
            padding:0px 0px 50px 0px;
          }
          .modal-content {
            border-radius:50px 50px 0px 0px;
            box-shadow: 0px 15px 20px 2px rgba(0,0,0,0.2);
            background-color:$gray-modal;
          }

          .modal-header {
            display:block;
            position:relative;
            text-align:center;
            .close {
              position:absolute;
              top:1.5rem;
              right:3rem;
              font-size:1.3rem;
            }
          }
          .modal-title {
            padding:1rem 0rem;
            font-size:1.8rem;
          }

          .modal-body {
            margin: 3rem 0rem;
            align-items:center;
            .upload-photo {
              margin:1rem 0rem;
            }
          }
          .modal-footer {
            text-align:center;
            justify-content:space-between;
            margin:1rem 0rem 2rem 0rem;
            > * {
              margin: .5rem 0rem;
              font-size:1.5rem;
            }
             :first-child {
              width:100%;
            }
            :nth-child(2) {
              flex-grow:2;
            }
            :nth-child(3) {
              width:48%;
              margin-left:1rem;
            }
          }

          .form-group {
            margin:unset;
            > input {
              font-size:1.5rem;
              padding:2rem;
            }
          }

          .icon-social {
            width: 50px;
            height:50px;
          }
        }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  :root {
      font-size: 62.5%;
    }
      #show-profil {
        padding:unset;
        margin-top: unset;
      }
        #show-profil--informations {
          display:block !important;
        }

        #show-profil--informations--user,
        #show-profil--informations--networks {
          padding: 0rem 1rem;
          min-width:100%;
          max-width:100%;
        }
        #show-profil--informations--user .image-container {
          width:unset;
          > p {
            margin-top:.5rem;
          }
          .image-resize {
            max-width:150px !important;
            max-height:150px !important;
          }
        }

        #show-profil--informations--user .infos-container > h1,
        #show-profil--informations--user .infos-container > p {
          margin: 2rem 0;
        }

        #show-profil--informations--networks--settings {
          .directly-on {
            color:$blue-app;
            border-color:$blue-app;
            &:hover {
              color:$blue-app
            }
          }
        }

        #show-profil--informations--networks{
          background-color:white;
          padding: 1rem 2rem 80px 2rem;
          border-radius:50px 50px 0px 0px;
          overflow-y:scroll;
          > a {
            margin:1rem 0rem 3rem 0rem !important;
          }
        }
        .networks-container {
          justify-content:space-between;
          padding-bottom:3rem;
          p {
            color:$blue-app;
            font-size: 1.5rem;
          }
        }

        #navbar-mobile {
          display:flex;
        }

          #show-profil {

            .modal-content,
            .modal-header,
            .modal-footer {
              border:unset;
            }

            .modal-header,
            .modal-body,
            .modal-footer,
            p.explanation {
              padding: 0rem 4rem 0rem 4rem !important;
            }


            .modal-dialog {
              margin:unset;
            }
            .modal-dialog-centered {
              align-items:flex-end;
              padding:0px 0px 50px 0px;
            }
            .modal-content {
              border-radius:50px 50px 0px 0px;
              box-shadow: 0px 15px 20px 2px rgba(0,0,0,0.2);
              background-color:$gray-modal;
            }

            .modal-header {
              display:block;
              position:relative;
              text-align:center;
              .close {
                position:absolute;
                top:1.5rem;
                right:3rem;
                font-size:1.3rem;
              }
            }
            .modal-title {
              padding:1rem 0rem;
              font-size:1.8rem;
            }

            .modal-body {
              margin: 3rem 0rem;
              align-items:center;
              .upload-photo {
                margin:1rem 0rem;
              }
            }
            .modal-footer {
              text-align:center;
              justify-content:space-between;
              margin:1rem 0rem 2rem 0rem;
              > * {
                margin: .5rem 0rem;
                font-size:1.5rem;
              }
               :first-child {
                width:100%;
              }
              :nth-child(2) {
                flex-grow:2;
              }
              :nth-child(3) {
                width:48%;
                margin-left:1rem;
              }
            }

            .form-group {
              margin:unset;
              > input {
                font-size:1.5rem;
                padding:2rem;
              }
            }

            .icon-social {
              width: 50px;
              height:50px;
            }
          }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}




