<div id="banner-coupon">
  <h5 class="message-coupon">Obtient 10% avec le code promo Komboolaunch</h5>
  <%= link_to "Acheter", purchase_path, class:"link-nav" %>
  <i class="fas fa-times close-icon-coupon"></i>
</div>
