  <div id="navbar-app">
    <div id="navbar-app-logo">
      <% if @profile.id.nil? %>
        <%= image_tag 'logo_white.svg' %>
      <% else %>
        <%= link_to profile_path do %>
          <%= image_tag 'logo_white.svg' %>
        <% end %>
      <% end %>
    </div>
    <div id="navbar-app-title">
      <p class="title">My profile</p>
    </div>
    <div id="navbar-app-documentation">
      <%= link_to "https://www.joombo.io/pages/faq", target:"_blank" do  %>
        <i class="fas fa-book icon-white"></i>
      <% end %>
    </div>
  </div>
</div>

