<div id="navbar-mobile">
  <%= link_to profile_path(current_user.profile) do %>
    <i class="icon-mobile-navbar fas fa-user-alt"></i>
  <% end %>
  <span class="main-icon cameraButton">
    <label for="mypic"><i class="icon-mobile-navbar  fas fa-camera"></i></label>
    <input type="file" class="input-file" id="mypic" accept="image/*">
  </span>
  <%= link_to destroy_user_session_path do %>
    <i class="icon-mobile-navbar fas fa-sign-out-alt"></i>
  <% end %>
</div>
