  <div id="navbar-app">
    <div id="navbar-app-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo_white.svg' %>
      <% end %>
    </div>
    <div id="navbar-app-title">
      <p class="title">Mon profile</p>
    </div>
    <div id="navbar-app-documentation">
      <i class="fas fa-book icon-white"></i>
    </div>
  </div>
</div>

