
<div class="container mt-5">
  <h1 class="text-center mb-5">Foire aux questions 🕵️‍♂️</h1>

  <h2 class="mb-2">Général</h2>
  <div class="accordion" id="General">
<!--     <div class="card">
      <div class="card-header" id="GeneralOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneGeneral" aria-expanded="false" aria-controls="collapseOneGeneral">
            Est-ce que les autres personnes ont besoin d'un JOOMBO ou de l'application recevoir mes infos ?
          </button>
        </h3>
      </div>
      <div id="collapseOneGeneral" class="collapse" aria-labelledby="GeneralOne" data-parent="#General">
        <div class="card-body">
          <p>
            Non ! La personne a laquelle vous voulez transmettre votre contact n'a pas besoin d'un JOOMBO ou d'une application. C'est la beauté de JOOMBO ☺️

            Elle a simplement besoin d'un <a href="https://www.joombo.co/smartphone-compatible-nfc">smartphone équipé du NFC</a> ou pouvant lire les Qrcode. 🤙
          </p>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-header" id="GeneralTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoGeneral" aria-expanded="false" aria-controls="collapseTwoGeneral">
            Est-ce que j'ai besoin de connexion internet pour faire fonctionner mon JOOMBO ?
          </button>
        </h3>
      </div>
      <div id="collapseTwoGeneral" class="collapse" aria-labelledby="GeneralTwo" data-parent="#General">
        <div class="card-body">
          <p>JOOMBO ne nécessite pas de réseau, de données ou de connexion Internet pour afficher votre profil sur un autre téléphone. Mais, pour charger les liens de votre profil, l'autre téléphone aura besoin d'une connexion.

            Si l'autre téléphone n'a pas de connexion, il peut toujours enregistrer votre notification JOOMBO et l'ouvrir plus tard ou mettre votre profil dans ses favoris à l'aide d'un navigateur.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="GeneralThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeGeneral" aria-expanded="false" aria-controls="collapseThreeGeneral">
            Puis-je avoir un JOOMBO personnalisé ?
          </button>
        </h3>
      </div>
      <div id="collapseThreeGeneral" class="collapse" aria-labelledby="GeneralThree" data-parent="#General">
        <div class="card-body">
          <p>Venez en discuter avec nous sur notre chat ou sur hello@mumuse.co 🤙</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="GeneralFour">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourGeneral" aria-expanded="false" aria-controls="collapseFourGeneral">
            Est-ce que mon JOOMBO va affecter la recharge sans fil de mon téléphone ?
          </button>
        </h3>
      </div>
      <div id="collapseFourGeneral" class="collapse" aria-labelledby="GeneralFour" data-parent="#General">
        <div class="card-body">
          Non, JOOMBO n'affecte pas les capacité de recharge sans fil de votre téléphone.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="GeneralFive">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFiveGeneral" aria-expanded="false" aria-controls="collapseFive">
            Comment activer mon NFC ?
          </button>
        </h3>
      </div>
      <div id="collapseFiveGeneral" class="collapse" aria-labelledby="GeneralFiveGeneral" data-parent="#General">
        <div class="card-body">
          <p><a href="https://www.joombo.co/smartphone-compatible-nfc">Les smartphones équipés du NFC</a>

            <b>Activer le NFC sur Iphone</b>

            Pour les Iphones compatibles, le capteur NFC est activé et ne peut pas être désactivé ! Pas de problème pour vous 🤙

            <b>Activer le NFC sur Androïd</b>

            Pour les Androïd compatibles, le capteur NFC est désactivé par défaut 😢

            Pour l'activer, il faut aller dans vos paramètres puis faire une recherche en tapant NFC. Rendez-vous sur la page NFC pour l'activer.
            <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598720632/img-active-nfc_u1xgia.png" alt="Activer le NFC sur un android">
          </p>

        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Compatibilité</h2>
  <div class="accordion" id="Compatibility">
    <div class="card">
      <div class="card-header" id="CompatibilityOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneCompatibility" aria-expanded="false" aria-controls="collapseOneCompatibility">
            Mon téléphone est-il compatible ?
          </button>
        </h3>
      </div>

      <div id="collapseOneCompatibility" class="collapse" aria-labelledby="CompatibilityOne" data-parent="#Compatibility">
        <div class="card-body">
          <p>
            <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598721220/compatible-smartphone_hgix3r.png" alt="smartphones compatibles NFC">

            <a href="https://www.joombo.co/smartphone-compatible-nfc">En savoir plus</a>
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="CompatibilityTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoCompatibility" aria-expanded="false" aria-controls="collapseTwoCompatibility">
            Qui a besoin de l'application JOOMBO sur son portable ?
          </button>
        </h3>
      </div>
      <div id="collapseTwoCompatibility" class="collapse" aria-labelledby="CompatibilityTwo" data-parent="#Compatibility">
        <div class="card-body">
          <p>Non ! La personne a laquelle vous voulez transmettre votre contact n'a pas besoin d'un JOOMBO ou d'une application. C'est la beauté de JOOMBO ☺️

            Elle a simplement besoin d'un <a href="https://www.joombo.co/smartphone-compatible-nfc">smartphone équipé du NFC</a> ou pouvant lire les Qrcode. 🤙
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="CompatibilityThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeCompatibility" aria-expanded="false" aria-controls="collapseThreeCompatibility">
            Comment je partage mon profil avec des téléphones non compatibles
          </button>
        </h3>
      </div>
      <div id="collapseThreeCompatibility" class="collapse" aria-labelledby="CompatibilityThree" data-parent="#Compatibility">
        <div class="card-body">
          <p>90% des téléphones sont aujourd'hui équipés du NFC et ce taux ne va faire qu'augmenter dans les prochaines années pour se rapprocher des 100%.

          Pour les smartphones qui ne disposent pas du NFC, vous disposez d'un Qrcode sur votre profil afin que vous puissiez quand même partager votre contact.

          Vous pouvez également partager votre profil par SMS, par email ou par tout autre réseau social en partageant le lien de votre badge JOOMBO.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="CompatibilityFour">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourCompatibility" aria-expanded="false" aria-controls="collapseFourCompatibility">
            Est-ce que mon JOOMBO va fonctionner si je le mets sous ma protection de téléphone ?
          </button>
        </h3>
      </div>
      <div id="collapseFourCompatibility" class="collapse" aria-labelledby="CompatibilityFour" data-parent="#Compatibility">
        <div class="card-body">
          <p>Oui ! JOOMBO fonctionne dans 99,9 % des cas sous les protections de téléphone (même sur celles qui contiennent des cartes de crédit). Les 0,01% sont les protections de téléphone qui ont une protection avec une couche de métal trop épaisse.

          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Utiliser mon JOOMBO</h2>
  <div class="accordion" id="UseJoombo">
    <div class="card">
      <div class="card-header" id="UseJoomboOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneUseJoombo" aria-expanded="false" aria-controls="collapseOneUseJoombo">
            Comment activer mon JOOMBO ?
          </button>
        </h3>
      </div>

      <div id="collapseOneUseJoombo" class="collapse" aria-labelledby="UseJoomboOne" data-parent="#UseJoombo">
        <div class="card-body">
          <p>Etape 1 - Créer un compte JOOMBO

            Etape 2 - Compléter son compte JOOMBO

            Etape 3 - Activer le NFC et badger le JOOMBO

            Etape 4 - Se connecter

            Etape 5 - Activer le badge JOOMBO

            Etape 6 - Enjoy 🎉
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="UseJoomboTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoUseJoombo" aria-expanded="false" aria-controls="collapseTwoUseJoombo">
            Obtenir l'application JOOMBO sur mon téléphone
          </button>
        </h3>
      </div>
      <div id="collapseTwoUseJoombo" class="collapse" aria-labelledby="UseJoomboTwo" data-parent="#UseJoombo">
        <div class="card-body">
          <p><b>Iphone</b>
Etape 1 - Aller sur Safari

Etape 2 - Aller sur Joombo.co et connectez-vous à votre profil

Etape 3 - Cliquer sur le bouton de partage

<img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598726495/share-app-download-apple_iwmbuq.png" alt="">


Etape 4 - Cliquer sur "Mettre sur l'écran d'accueil"

Etape 5 - Enjoy 🎉

<b>Androïd</b>
Etape 1 - Aller sur votre navigateur

Etape 2 - Aller sur Joombo.co et connectez-vous à votre profil

Etape 3 - Cliquer sur le bouton de partage

<img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598726494/share-app-download-android_aeqet2.png" alt="">

Etape 4 - Cliquer sur "Ajouter à l'écran d'accueil"

Etape 5 - Enjoy 🎉

          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="UseJoomboThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeUseJoombo" aria-expanded="false" aria-controls="collapseThreeUseJoombo">
            Comment transmettre mon contact avec JOOMBO ?
          </button>
        </h3>
      </div>
      <div id="collapseThreeUseJoombo" class="collapse" aria-labelledby="UseJoomboThree" data-parent="#UseJoombo">
        <div class="card-body">
          <p><img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598726653/schema-use_yh4wrn.png" alt="Comment utiliser son Popl">

          <a href="https://www.joombo.co/utiliser-son-joombo">En savoir plus</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Problème avec votre JOOMBO</h2>
  <div class="accordion" id="ProblemJoombo">
    <div class="card">
      <div class="card-header" id="ProblemJoomboOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneProblemJoombo" aria-expanded="false" aria-controls="collapseOneProblemJoombo">
            Ne fonctionne pas avec un Iphone
          </button>
        </h3>
      </div>

      <div id="collapseOneProblemJoombo" class="collapse" aria-labelledby="ProblemJoomboOne" data-parent="#ProblemJoombo">
        <div class="card-body">
          <p><b>1. Assurez-vous que l'Iphone dispose du NFC : <a href="https://www.joombo.co/smartphone-compatible-nfc">Dispositifs compatibles</a></b>

          <b>2. Assurez-vous de rapprocher votre JOOMBO tout en haut à l'arrière du téléphone.</b>

          <b>3. L'Iphone ne peut pas lire le contact JOOMBO quand :</b>

          - Le mode avion est activé
          - Le flash du téléphone est activé
          - Le téléphone n'est pas déverouillé
          - L'appareil photo est ouvert
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="ProblemJoomboTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoProblemJoombo" aria-expanded="false" aria-controls="collapseTwoProblemJoombo">
            Ne fonctionne pas avec un android
          </button>
        </h3>
      </div>
      <div id="collapseTwoProblemJoombo" class="collapse" aria-labelledby="ProblemJoomboTwo" data-parent="#ProblemJoombo">
        <div class="card-body">
          <p><b>1. Assurez-vous que l'Androïd dispose du NFC : <a href="https://www.joombo.co/smartphone-compatible-nfc">Dispositifs Androïd compatibles</a></b>

            <b>2. Assurez-vous de rapprocher votre JOOMBO au centre à l'arrière du téléphone.</b>

            Pour les Androids, le plupart des capteurs NFC est au centre au dos du téléphone.

            <b>3. Activer le NFC dans les paramètres de votre Androïd</b>

            Aller dans les paramètres de votre téléphone et rechercher le NFC. Assurez-vous que le NFC est bien activé!

            <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1598720632/img-active-nfc_u1xgia.png" alt="Comment activer le NFC">
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="ProblemJoomboThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeProblemJoombo" aria-expanded="false" aria-controls="collapseThreeProblemJoombo">
            Mon JOOMBO m'envoie des notifications NFC en permanence
          </button>
        </h3>
      </div>
      <div id="collapseThreeProblemJoombo" class="collapse" aria-labelledby="ProblemJoomboThree" data-parent="#ProblemJoombo">
        <div class="card-body">
          <p>Il est préferable de ne pas placer le JOOMBO sur le capteur NFC. Nous vous conseillons donc de le placer tout en bas de votre smartphone Iphone ou Androïd!

            <b>Néanmoins</b>, pour le Galaxies/Notes, c'est mieux de le placer en haut à côté de l'objectif photo.

            Nous vous conseillons d'essayer avant de coller votre JOOMBO! ⚡️
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Livraison</h2>
  <div class="accordion" id="Delivery">
    <div class="card">
      <div class="card-header" id="DeliveryOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneDelivery" aria-expanded="false" aria-controls="collapseOneDelivery">
            Quel est le délai de livraison ?
          </button>
        </h3>
      </div>

      <div id="collapseOneDelivery" class="collapse" aria-labelledby="DeliveryOne" data-parent="#Delivery">
        <div class="card-body">
          <p>Le délais d'expédition et de livraison est de 2-5 jours ouvrés en France.

          Le délais d'expédition et de livraison en Europe est de 5-10 jours ouvrés.

          Le délais d'expédition et de livraison HORS Europe est de 10-21 jours ouvrés.

          Il n'y a pas de tracking sur les colis que nous envoyons ! Si vous avez la moindre question ou problème, n'hésitez pas nous contacter via le chat ou sur hello@mumuse.co !</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="DeliveryTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoDelivery" aria-expanded="false" aria-controls="collapseTwoDelivery">
            Est-ce que vous expédié dans le monde entier ?
          </button>
        </h3>
      </div>
      <div id="collapseTwoDelivery" class="collapse" aria-labelledby="DeliveryTwo" data-parent="#Delivery">
        <div class="card-body">
          <p>Oui ! 🎉</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="DeliveryThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeDelivery" aria-expanded="false" aria-controls="collapseThreeDelivery">
            Mon JOOMBO n'est pas encore arrivé !
          </button>
        </h3>
      </div>
      <div id="collapseThreeDelivery" class="collapse" aria-labelledby="DeliveryThree" data-parent="#Delivery">
        <div class="card-body">
          <p>Vous êtes impatient c'est bien normal 😁

          Si vous êtes en France le délais de livraison est de 2-5 jours ouvrés
          Si vous êtes en Europe le délais de livraison est de 5-10 jours ouvrés
          Si vous êtes en  HORS Europe le délais de livraison est de 10-21 jours ouvrés

          Il peut arriver que le facteur se trompe de boîte aux lettres, vous pouvez poser la question à votre entourage.

          Pour toute question ou tout problème, on se tient à votre disposition par chat ou sur hello@mumuse.co !</p>
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="DeliveryFour">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourDelivery" aria-expanded="false" aria-controls="collapseFourDelivery">
            Puis-je suivre ma commande ?
          </button>
        </h3>
      </div>
      <div id="collapseFourDelivery" class="collapse" aria-labelledby="DeliveryFour" data-parent="#Delivery">
        <div class="card-body">
          Vous allez recevoir un email quand votre commande partira de l'entrepôt JOOMBO !
          Après, il faudra être patient et guêter votre boite aux lettres ! 😎
        </div>
      </div>
    </div>
  </div>
</div>

