<div class="skewed"></div>
<div class="banner typed">
  <div class="banner--left">
    <h1>Partage tes réseaux avec style</h1>
    <div id="banner-typed-text"></div>
  </div>
  <div class="banner--right">
  </div>
  <%= link_to "Commence à partager", purchase_path, class:"button main-button" %>
</div>
<%#= render partial: 'shared/landbot' %>
