<%= render 'shared/navbar' %>
<h1>Voilà les instructions mon gars !!!</h1>

<!-- <div class="image-container-team">
  <div class="card-team-container">
    <div class="image-container-team--text">
      <h4 class="h3">Candela ☀️</h4>
      <p>She is our marketing guru, the communications artist in whatsoever language or context! She will arrive in the morning being like "I have the biggest idea ever" and make a crazy concept turned into a campaign.</p>
      <br>
      <p>She would love to know much more about all those ones who would like to join the Joombo family! So if you'd like to chat with her about how Joombo wonders you, don't hesitate and come for a Chai latte!</p>
    </div>
    <img src="https://res.cloudinary.com/dwuorvpu5/image/upload/v1600111280/share4u/Candela_rj1cxy.jpg" alt="" class="image-team">
  </div>
  <div class="card-team-container">
    <img src="https://res.cloudinary.com/dwuorvpu5/image/upload/v1600111282/share4u/Thomas_m0pwdv.jpg" alt="" class="image-team">
    <div class="image-container-team--text">
      <h4 class="h3">Thomas (the 1st),</h4>
      <p>Thomas is in charge of making your experience with us amazing. He spends his time talking to you in order to understand your needs and build the best product ever! He is also here to answer all your questions and discuss your craziest projects. So you want to talk about the weather, life or JOOMBO, you just have to send him a message in the chat or an email.</p>
    </div>
  </div>
  <div class="card-team-container">
    <div class="image-container-team--text">
      <h4 class="h3">Thomas (the 2nd),</h4>
      <p>Thomas is the guy behind our application! Did you see it? If not, please go and let him know if you liked it! He's sooo much into it that he's always asking the team: "Did you see our new design? And this feature? What do you think about it?" This is someone who does love his job! :D</p>
      <br>
      <p>Whatever there is: if you wish we added anything new, give some feedback or any crazy idea you have come up with, contact him! </p>
    </div>
    <img src="https://res.cloudinary.com/dwuorvpu5/image/upload/v1600111270/share4u/Tom_pzdiqw.jpg" alt="" class="image-team">
  </div>
</div> -->

<!-- <div class="flex-container-wrap">
  <div class="flex-container-wrap--">
    <h4 class="h3">The Smart Handshake</h4>
    <p>Joombo is the smartest way to share your information:</p>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600121542/New_Project_8_cgxjt8.png" alt="Impress your leads with JOOMBO" class="small-icon-home-page">
      <p><strong>Impress your leads</strong> and save time with a contactless digital business card</p>
    </div>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600121941/New_Project_11_uympot.png" alt="Modify your data with JOOMBO" class="small-icon-home-page">
      <p><strong>Modify your data</strong> at any time with one click (phone numbers, email, social networks, website...)</p>
    </div>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600121543/New_Project_10_xgftul.png" alt="Help the planet with JOOMBO" class="small-icon-home-page">
      <p><strong>Help</strong><strong> the planet</strong>: save paper</p>
    </div>
  </div>
  <div class="iframe-home-page">
    <iframe id="#video-presentation-home" src="https://streamable.com/e/is4c2z?autoplay=1" frameborder="0" allowfullscreen="" allow="autoplay"></iframe>
  </div>
</div>

<div class="flex-container-wrap">
  <img src="https://cdn.shopify.com/s/files/1/0473/8410/1015/files/Business-Pic_1080x.jpg?v=1599752864" alt="">
  <div class="flex-container-wrap--">
    <h4 class="h3">Impress your leads</h4>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_13_ru4uew.png" alt="Help the planet with JOOMBO" class="small-icon-home-page">
      <p>Each company has an average of 5 social networks</p>
    </div>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_14_x6insk.png" alt="Help the planet with JOOMBO" class="small-icon-home-page">
      <p>The average time to exchange your contact is 1 minute and 4 seconds (<strong>Joombo makes it less than 10 seconds)</strong></p>
    </div>
    <div class="card-flex-two-items">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_15_j6wvqc.png" alt="Help the planet with JOOMBO" class="small-icon-home-page">
      <p>93% of communication is non-verbal</p>
    </div>
  </div>
</div>

<div class="feature-row__item feature-row__text feature-row__text--left">
  <h2 class="h3" data-theme-editor-setting="section.1599747366948.title/escape">Impress your leads</h2>
  <div class="rte rte-setting featured-row__subtext" data-theme-editor-setting="section.1599747366948.text">
    <div style="display:flex;">
      <img src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_13_ru4uew.png" alt="Help the planet with JOOMBO" width="100" height="100">
      <p>Each company has an average of 5 social networks</p>
      </div>

<div style="display:flex;">
<img style="object-fit: contain;" src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_14_x6insk.png" alt="Help the planet with JOOMBO" width="100" height="100">
<p style="align-self:center;">The average time to exchange your contact is 1 minute and 4 seconds (<strong>Joombo makes it less than 10 seconds)</strong></p>
</div>

<div style="display:flex;">
<img style="object-fit: contain;" src="https://res.cloudinary.com/monbrasseur/image/upload/v1600123993/New_Project_15_j6wvqc.png" alt="Help the planet with JOOMBO" width="100" height="100">
<p style="align-self:center;">93% of communication is non-verbal</p>
</div>
<p>Start introducing yourself with Joombo and<strong> increase your revenue</strong>.</p>
</div>


<a href="/collections/all" class="btn" aria-label="BUY NOW: Catalog">BUY NOW</a>

    </div>



.flex-container-wrap {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.flex-container-wrap--text {
  max-width:45%;
    min-width:45%;
}

.flex-container-wrap .iframe-home-page {
  max-width:45%;
    min-width:45%;
  border-radius:50px;
    height:0px;
    position:relative;
    padding-bottom:56.250%;
}

#video-presentation-home {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
}
.small-icon-home-page {
    width:70px;
    height:70px;
}

.card-flex-two-items {
    display:flex;
    justify-content:start;
    align-items:center;
}
.card-flex-two-items > p {
  padding-left:2rem;
} -->



