.button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border:1px solid;
  box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
  &:hover {
    transform: translate(0,-1px);
  }
}

.main-button {
  color:$main-color;
  background-color: $blue-green-color;
  border-color: $blue-green-color;
  &:hover {
    color:$main-color;
  }
}

.second-button {
  color:$main-color;
  background-color: $blue-main-color;
  border-color: $blue-main-color;
}

.third-button {
  border-color: $black;
}

.nav-link {
  color:$black;
  border:unset;
  box-shadow:unset;
  transition:
      transform 0.2s ease,
      color 0.2s ease
  ;
  &:hover {
    transform:stranslate(0,-1px);
    color:$black;
    border-color: $black;
  }
}
