.button {
  padding: 1rem 2rem;
  border-radius: 8px;
  border:1px solid;
  // box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  display:inline-block;
  transition:
      transform .2s ease,
      box-shadow .2s ease
  ;
  &:hover {
    transform: translate(0,-1px);
    // box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.main-button {
  color:white;
  background-color: $blue-app;
  border-color: $blue-app;
  &:hover {
    color:white;
  }
}

.white-button {
  color:$blue-app;
  background-color:white;
  border-color:white;
  &:hover {
    color: $blue-app;
  }
}

.orange-button {
  color:white;
  background-color:$second-color;
  border-color:$second-color;
  &:hover {
    color:white;
  }
}

.border-white-button {
 color:white;
 border-color: white;
 &:hover {
   color:white;
 }
}

.border-blue-button {
  color:$blue-app;
  border-color:$blue-app;
  &:hover {
    color:$blue-app
  }
}

.second-button {
  color:$main-color;
  background-color: $blue-main-color;
  border-color: $blue-main-color;
}

.third-button {
  border-color: $black;
}

.nav-link {
  color:$black;
  border:unset;
  box-shadow:unset;
  transition:
      transform 0.2s ease,
      color 0.2s ease
  ;
  &:hover {
    transform:stranslate(0,-1px);
    color:$black;
    border-color: $black;
  }
}

.direct-active {
  background-color:$green !important;
  color:white !important;
  border-color:$green !important;
}

.upload-photo {
  display:inline-block;
  width:100%;
  border: 1px solid $blue-app;
  color: $blue-app;
  text-align:center;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 10px;
  &:hover {
    background-color: rgba($blue-app,0.2);
  }
}

