.title {
  font-size: 1.5rem;
  font-weight:bold;
}



.title-big {
  font-weight:lighter;
  font-size: 2rem;
  color: $black;
  text-align:center;
}

.t-align {
  text-align:center;
}

.subtitle {
  font-weight:bold;
  font-size: 2.5rem;
  text-align:center;
  color: $blue-main-color;
  text-decoration: underline;
  padding: 0.5rem 0;
}

.light-black {
  color: rgba(0,0,0,0.7);
}


.font-red {
  color: red;
}

.font-blue {
  color:$blue-app
}

.font-label {
  font-size:1.5rem;
  font-weight:bold;
}

.fade-in {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0px, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
