.title {
  font-weight:lighter;
  font-size: 3rem;
  color: $blue-main-color;
  text-align:center;
}

.subtitle {
  font-weight:bold;
  font-size: 3rem;
  text-align:center;
  color: $blue-main-color;
  text-decoration: underline;
}
