.label-name-capitalize {
  width:70%;
  display:block;
  margin: 1rem auto;
  text-align:center;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  border-radius:5px;
  background-color: $black;
}

.font-typed-js {
  font-size:4rem;
  display:inline-block;
  background-size: auto;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.tiktok-font {
  background-color: rgb(235,51,85);
  background-image: linear-gradient(120deg, rgba(235,51,85,1) 25%, rgba(0,0,0,0.8393732492997199) 50%, rgba(109,238,235,1) 75%);
}

.instagram-font {
  background-color: rgb(101,103,174);
  background-image: linear-gradient(158deg, rgba(101,103,174,1) 25%, rgba(200,53,124,1) 50%, rgba(250,196,105,1) 75%);
}

.snapchat-font {
  background-color: rgb(0,0,0);
  background-image: linear-gradient(158deg, rgba(0,0,0,0.5900735294117647) 0%, rgba(255,241,0,1) 1%);
}

.twitter-font {
  background-color: rgb(255,255,255);
  background-image: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(85,172,238,1) 1%);
}

.youtube-font {
  background-color: rgb(255,255,255);;
  background-image: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(215,65,39,1) 0%);
}

.other-font {
  background-color: rgb(235,51,85);
  background-image: linear-gradient(120deg, rgba(235,51,85,1) 25%, rgba(0,0,0,0.8393732492997199) 50%, rgba(109,238,235,1) 75%);
}

.devise-shared-links {
  color: $white;
  transition: transform .2s ease;
  &:hover {
    color: $white;
    transform: translate(0px, -1px);
  }
}

.explanation {
  padding:0rem 1rem .5rem 1rem;
  color:rgba($gray,0.5) !important;
}

.label-badges-bought {
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:rgba($validation-color, 0.7);
  font-size:1.6rem;
}

.label-direct-active {
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:$green;
  color:white;
  font-size:1.2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.label-direct-inactive {
  width:28px;
  height:28px;
  border-radius:50%;
  background-color: $gray-modal;
  border:2px solid rgba(0,0,0,0.3);
  color:white;
  font-size:1.2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}
