.label-name-capitalize {
  width:70%;
  display:block;
  margin: 1rem auto;
  text-align:center;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  border-radius:5px;
  background-color: $black;
}
