.modal-socials--bg {
  background-color: rgba($white, 0.4);
  display:none;
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:1;
}

.modal-title,
.modal-body > p {
  color: $blue-app;
}


.modal-socials {
  background-color:$main-color;
  margin: 15rem auto;
  padding: 2rem;
  width:50%;
  box-shadow: 0px 15px 20px 2px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.modal-social--header {
  position:relative;
}
.icon-close {
  cursor:pointer;
  font-size:1.2rem;
  position:absolute;
  top: 0;
  right: 0;
}

