#navbar-app {
  padding: 3rem 15rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:10vh;
}

    #navbar-app-logo img {
      width:70px;
      height:auto;
    }

    #navbar-app-title {
      color:white;
      font-weight:bold;
      p {
        font-size:1.8rem;
      }
    }


    #navbar-app-documentation i {
      font-size:3rem;
    }
//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  :root {
    font-size: 62.5%;
  }

  #navbar-app {
    padding: 1rem 3rem;
  }

      #navbar-app-logo img {
        width:50px;
      }


      #navbar-app-documentation i {
        font-size:2.5rem;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){

  :root {
    font-size: 62.5%;
  }

  #navbar-app {
    padding: 1rem 3rem;
  }

      #navbar-app-logo img {
        width:50px;
      }


      #navbar-app-documentation i {
        font-size:2.5rem;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}



